@model IEnumerable<Etudiant>

@{
    ViewData["Title"] = "Accueil";
}

<div class="row mt-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8">
                        <u>
                            Liste de tous les étudiants
                        </u>
                    </div>
                    <div class="col-md-4 text-end">
                        <button id="btn-modal-add" class="btn btn-sm btn-success" data-url='@Url.Action("Add")'>
                            <i class="bi bi-plus-circle"></i>
                            Add
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover w-100" id="table-des-etudiants">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Date de naissance</th>
                                <th>Moyenne générale</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var etud in Model)
                            {
                                <tr>
                                    <td>@etud.Id</td>
                                    <td>@etud.Nom</td>
                                    <td>@etud.Prenom</td>
                                    <td>@etud.DateNaissance.ToString("dd MMM yyyy")</td>
                                    <td>@etud.MoyenneGenerale</td>
                                    <td>
                                        <button class="btn btn-sm btn-danger btn-modal-delete"
                                        data-url='@Url.Action($"Delete/{etud.Id}")' data-bs-toggle="tooltip"
                                        title="Supprimer">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                        <button class="btn btn-sm btn-primary btn-modal-edit"
                                        data-url='@Url.Action($"Edit/{etud.Id}")' data-bs-toggle="tooltip"
                                        title="Modifier">
                                            <i class="bi bi-pen"></i>
                                        </button>
                                        <button class="btn btn-sm btn-secondary btn-exclusion"
                                        data-url='@Url.Action($"ManageExclusionStatus/{etud.Id}")'
                                        data-bs-toggle="tooltip" title="Status"
                                        data-is-excluded="@etud.IsExclut.ToString().ToLower()">
                                            @if (etud.IsExclut)
                                            {
                                                <i class="bi bi-shield-fill-check"></i>
                                            }
                                            else
                                            {
                                                <i class="bi bi-shield-x"></i>
                                            }
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal"></div>

@section Scripts {
    @* enable JQuery Validation on this page *@
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    @* using the notify.js *@
    <script src="~/lib/notify/notify.min.js"></script>
}